node_modules/
dist/
.vite/
build/
/.parcel-cache/
package-lock.json
.DS_Store
.env
.env.local
.env.*.local
.history
.idea/
*.log
/.vscode/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*